.profile-modal {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-profile {
  border: none;
  background: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  position: absolute;
  top: 15px;
  right: -30px;
}

.exit-profile:hover {
  opacity: 0.5;
}
