.profile-modal {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-profile {
  border: none;
  background: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  position: absolute;
  top: 15px;
  right: -30px;
}

.exit-profile:hover {
  opacity: 0.5;
}

.style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.style-4::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.style-4::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}
